{{/* SVG and raster favicons all derive from the same badge. */}}
<link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48" href="{{ partialCached "brand/asset-url.html" "/favicon.ico" "/favicon.ico" }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ partialCached "brand/asset-url.html" "/favicon-32x32.png" "/favicon-32x32.png" }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ partialCached "brand/asset-url.html" "/favicon-16x16.png" "/favicon-16x16.png" }}" />
<link rel="icon" type="image/svg+xml" sizes="any" href="{{ partialCached "brand/asset-url.html" "/img/gtcode-badge.svg" "/img/gtcode-badge.svg" }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ partialCached "brand/asset-url.html" "/apple-touch-icon.png" "/apple-touch-icon.png" }}" />
<link rel="manifest" href="{{ partialCached "brand/asset-url.html" "/site.webmanifest" "/site.webmanifest" }}" />
<meta name="theme-color" content="{{ . }}" />
