{{- $ctx := .context -}}
{{- if $ctx -}}
  {{- $scratchKey := .scratchKey | default "_article_meta" -}}
  {{- $scratch := .scratch | default $ctx.Scratch -}}
  {{- if and $scratch (not ($scratch.Get $scratchKey)) -}}
    {{- $data := site.Data.article_meta -}}
    {{- if $data -}}
      {{- $rel := "" -}}
      {{- with $ctx.RelPermalink -}}
        {{- $rel = trim . "/" -}}
      {{- end -}}
      {{- if eq $rel "" -}}
        {{- $scratch.Delete $scratchKey -}}
      {{- else -}}
        {{- with index $data $rel -}}
          {{- $scratch.Set $scratchKey . -}}
        {{- else -}}
          {{- $scratch.Delete $scratchKey -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
