{{- $scratch := newScratch -}}
{{- if not .PublishDate.IsZero -}}
  {{- $scratch.Set "date" .PublishDate -}}
{{- else if not .Date.IsZero -}}
  {{- $scratch.Set "date" .Date -}}
{{- else if .Params.exported_at -}}
  {{- $scratch.Set "date" (time .Params.exported_at) -}}
{{- else if .Params.updated_at -}}
  {{- $scratch.Set "date" (time .Params.updated_at) -}}
{{- end -}}
{{- with $scratch.Get "date" -}}
  <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "Jan 2, 2006" }}</time>
{{- else -}}
  <span class="text-muted">Updated recently</span>
{{- end -}}
